<h2>Lista de Posts</h2>
<hr>
<a href="/admin/posts/add">
    <button class="btn btn-success">New Post</button>
</a>

{{#each posts}}

    <div class="card mt-4">
        <div class="card-body">
            <h3>{{title}}</h3>
            <strong>{{slug}}</strong><br>
            <small>{{create_date}}</small>
            <h5>{{description}}</h5>
            <p>{{content}}</p>
            <small>{{category.nome}}</small>
            <small>{{category.nome}}</small><br>
            <a href="/admin/posts/edit/{{_id}}">
                <button class="btn btn-success mt-4">Edit</button>
            </a>
            <a href="/admin/posts/delete/{{_id}}">
                <button class="btn btn-danger mt-4">Delete</button>
            </a>
        </div>
    </div>

{{else}}
    <h3>Nenhum post cadastrado</h3>

{{/each}}